[Unit]
Description=Kexec Ubuntu vendor partition mounts
DefaultDependencies=no
After=local-fs.target systemd-udevd.service
Before=kexec-adbd.service kexec-wifi.service multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/libexec/kexec/bin/kexec-vendor-mount
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
