[Unit]
Description=Kexec Ubuntu USB ADB sampler
DefaultDependencies=no
After=kexec-adbd.service

[Service]
Type=simple
Environment=USB_ADBD_SAMPLER=1
ExecStart=/usr/local/libexec/kexec/bin/kexec-usb-adbd-sampler
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
