[Unit]
Description=Kexec Ubuntu time restore and keeper
DefaultDependencies=no
After=local-fs.target
Before=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/libexec/kexec/bin/kexec-time-keeper
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
